body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #1e2022;
    font-size: 5.625rem; /* 16px = 100% (fonts) = 1em // 90px == 5.62em == 562.5% */
    margin: 50px auto 0 auto;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #1e2022;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

h3 {
    color: #52616b;
    font-family: 'Montserrat', sans-serif;
}

hr {
    /*
    background-color: none;
    border-color: #c9d6df;
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
    height: 0px;
    width: 5%;
    */
    border: dotted #c9d6df 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 100px auto;
}

p {
    line-height: 2;
}

a {
    color: #40514E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.top-container {
    background-color: #c9d6df;
    position: relative;
    /* padding-top: 100px; */
    padding-top: 50px;
    padding-bottom: 50px;
}

.middle-container {
    background-color: #f0f5f9;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bottom-container {
    padding: 50px 0 20px;
    background-color: #c9d6df;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    padding: 10px;
}

.pro {
    text-decoration: underline;
}

.intro{
    width: 30%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.circular {
    border-radius: 100%;
}

.computer-img {
    width: 25%;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
}

.computer1-img {
    width: 25%;
    border-radius: 100%;
    float: right;
    margin-left: 30px;
}

/*.code-skill-description {
    clear: left;
}

.programming-projects-description {
    clear: right;
}*/
   
.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #52616b;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

    .btn:hover {
        background: #c9d6df;
        text-decoration: none;
    }
